* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: #55ACEE;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;

    .box {
        width: 400px;
        height: 400px;
    }

    .trigger {
        width: 400px;
        background-color: #55ACEE;
        color: #fff;
        border: 2px solid #fff;
        padding: 10px;
        margin: 20px auto;
        cursor: pointer;
        font-weight: bold;
    }

    .tweet {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #55ACEE;
        color: #fff;
        border: 2px solid #fff;
        width: 400px;
        padding: 10px;
        margin-top: 30px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }
}

  
 
  
//   h2.quote {
//     font-style: italic;
//     font-weight: lighter;
//   }
  
//   .loader {
//     display: none;
//   }
  
//   .loader.show {
//     display: block;
//     color: #fff;
//     margin: 50px;
//   }
  
//   .box.hide {
//     display: none;
//   }